
/*     Barr.Nd style sheet as of 10th October,2021 */


/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}



























/*          main page content    */
.nd-main,#main{transition:margin-left .4s}
.nd-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;
background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}

.nd-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.nd-bar{width:100%;overflow:hidden}.nd-center .nd-bar{display:inline-block;width:auto}
.nd-bar .nd-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.nd-bar .nd-dropdown-hover,.nd-bar .nd-dropdown-click{position:static;float:left}
.nd-bar .nd-button{white-space:normal}
.nd-bar-block .nd-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.nd-bar-block.nd-center .nd-bar-item{text-align:center}.nd-block{display:block;width:100%}
.nd-responsive{display:block;overflow-x:auto}

/*          float containers(i.e  nd-container,  nd-panel ,  nd-row,  nd-cell, nd-cell-row, nd-clear, nd-bar, nd-col)        */

.nd-container:after,.nd-container:before,.nd-panel:after,.nd-panel:before,.nd-row:after,.nd-row:before,.nd-row-padding:after,.nd-row-padding:before,
.nd-cell-row:before,.nd-cell-row:after,.nd-clear:after,.nd-clear:before,.nd-bar:before,.nd-bar:after{content:"";display:table;clear:both}
.nd-col,.nd-half,.nd-third,.nd-twothird,.nd-threequarter,.nd-quarter{float:left;width:100%}

/*          small colums    */

.nd-col.s1{width:8.33333%}.nd-col.s2{width:16.66666%}.nd-col.s3{width:24.99999%}.nd-col.s4{width:33.33333%}
.nd-col.s5{width:41.66666%}.nd-col.s6{width:49.99999%}.nd-col.s7{width:58.33333%}.nd-col.s8{width:66.66666%}
.nd-col.s9{width:74.99999%}.nd-col.s10{width:83.33333%}.nd-col.s11{width:91.66666%}.nd-col.s12{width:99.99999%}


/*          @media for medium colums  (min-width:601px)  */

@media (min-width:601px){.nd-col.m1{width:8.33333%}.nd-col.m2{width:16.66666%}.nd-col.m3,.nd-quarter{width:24.99999%}.nd-col.m4,.nd-third{width:33.33333%}
.nd-col.m5{width:41.66666%}.nd-col.m6,.nd-half{width:49.99999%}.nd-col.m7{width:58.33333%}.nd-col.m8,.nd-twothird{width:66.66666%}
.nd-col.m9,.nd-threequarter{width:74.99999%}.nd-col.m10{width:83.33333%}.nd-col.m11{width:91.66666%}.nd-col.m12{width:99.99999%}}


/*          @media for medium colums  (min-width:993px)  */


@media (min-width:993px){.nd-col.l1{width:8.33333%}.nd-col.l2{width:16.66666%}.nd-col.l3{width:24.99999%}.nd-col.l4{width:33.33333%}
.nd-col.l5{width:41.66666%}.nd-col.l6{width:49.99999%}.nd-col.l7{width:58.33333%}.nd-col.l8{width:66.66666%}
.nd-col.l9{width:74.99999%}.nd-col.l10{width:83.33333%}.nd-col.l11{width:91.66666%}.nd-col.l12{width:99.99999%}}

.nd-rest{overflow:hidden}.nd-stretch{margin-left:-16px;margin-right:-16px}


.nd-content,.nd-auto{margin-left:auto;margin-right:auto}.nd-content{max-width:980px}.nd-auto{max-width:1140px}
.nd-cell-row{display:table;width:100%}.nd-cell{display:table-cell}
.nd-cell-top{vertical-align:top}.nd-cell-middle{vertical-align:middle}.nd-cell-bottom{vertical-align:bottom}
.nd-hide{display:none!important}.nd-show-block,.nd-show{display:block!important}.nd-show-inline-block{display:inline-block!important}


@media (max-width:1205px){.nd-auto{max-width:95%}}



@media (max-width:600px){.nd-modal-content{margin:0 10px;width:auto!important}.nd-modal{padding-top:30px}
.nd-dropdown-hover.nd-mobile .nd-dropdown-content,.nd-dropdown-click.nd-mobile .nd-dropdown-content{position:relative}	
.nd-hide-small{display:none!important}.nd-mobile{display:block;width:100%!important}.nd-bar-item.nd-mobile,.nd-dropdown-hover.nd-mobile,
.nd-dropdown-click.nd-mobile{text-align:center}
.nd-dropdown-hover.nd-mobile,.nd-dropdown-hover.nd-mobile .nd-btn,.nd-dropdown-hover.nd-mobile .nd-button,.nd-dropdown-click.nd-mobile,
.nd-dropdown-click.nd-mobile .nd-btn,.nd-dropdown-click.nd-mobile .nd-button{width:100%}}





@media (max-width:768px){.nd-modal-content{width:500px}.nd-modal{padding-top:50px}}



@media (min-width:993px){.nd-modal-content{width:900px}.nd-hide-large{display:none!important}.nd-sidebar.nd-collapse{display:block!important}}


@media (max-width:992px) and (min-width:601px){.nd-hide-medium{display:none!important}}


@media (max-width:992px){.nd-sidebar.nd-collapse{display:none}.nd-main{margin-left:0!important;margin-right:0!important}.nd-auto{max-width:100%}}



.nd-top,.nd-bottom{position:fixed;width:100%;z-index:1}.nd-top{top:0}.nd-bottom{bottom:0}


.nd-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}

.nd-display-topleft{position:absolute;left:0;top:0}.nd-display-topright{position:absolute;right:0;top:0}
.nd-display-bottomleft{position:absolute;left:0;bottom:0}.nd-display-bottomright{position:absolute;right:0;bottom:0}
.nd-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.nd-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.nd-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.nd-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.nd-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.nd-display-container:hover .nd-display-hover{display:block}.nd-display-container:hover span.nd-display-hover{display:inline-block}
.nd-display-hover{display:none}
.nd-display-position{position:absolute}


/*          border radius  */

.nd-circle{border-radius:50%}
.nd-round-small{border-radius:2px}.nd-round,.nd-round-medium{border-radius:4px}.nd-round-large{border-radius:8px}.nd-round-xlarge{border-radius:16px}
.nd-round-xxlarge{border-radius:32px}

/*          nd-row-padding  */

.nd-row-padding,.nd-row-padding>.nd-half,.nd-row-padding>.nd-third,.nd-row-padding>.nd-twothird,.nd-row-padding>.nd-threequarter,
.nd-row-padding>.nd-quarter,.nd-row-padding>.nd-col{padding:0 8px}


/*          containers for html  */


.nd-container,.nd-panel{padding:0.01em 16px}.nd-panel{margin-top:16px;margin-bottom:16px}
.nd-code,.nd-codespan{font-family:Consolas,"courier new";font-size:16px}
.nd-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.nd-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.nd-card,.nd-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.nd-card-4,.nd-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}


/*          animation and the likes   */
.nd-spin{animation:nd-spin 2s infinite linear}@keyframes nd-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.nd-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.nd-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.nd-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.nd-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.nd-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.nd-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.nd-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.nd-animate-input{transition:width 0.4s ease-in-out}.nd-animate-input:focus{width:100%!important}


.nd-opacity,.nd-hover-opacity:hover{opacity:0.60}.nd-opacity-off,.nd-hover-opacity-off:hover{opacity:1}
.nd-opacity-max{opacity:0.25}.nd-opacity-min{opacity:0.75}
.nd-greyscale-max,.nd-grayscale-max,.nd-hover-greyscale:hover,.nd-hover-grayscale:hover{filter:grayscale(100%)}
.nd-greyscale,.nd-grayscale{filter:grayscale(75%)}.nd-greyscale-min,.nd-grayscale-min{filter:grayscale(50%)}
.nd-sepia{filter:sepia(75%)}.nd-sepia-max,.nd-hover-sepia:hover{filter:sepia(100%)}.nd-sepia-min{filter:sepia(50%)}


/*          fonts sizes  */

.nd-tiny{font-size:10px!important}.nd-small{font-size:12px!important}.nd-medium{font-size:15px!important}.nd-large{font-size:18px!important}
.nd-xlarge{font-size:24px!important}.nd-xxlarge{font-size:36px!important}.nd-xxxlarge{font-size:48px!important}.nd-jumbo{font-size:64px!important}

/*          text-align  */
.nd-left-align{text-align:left!important}.nd-right-align{text-align:right!important}.nd-justify{text-align:justify!important}
.nd-center{text-align:center!important}


/*          Borders    */

.nd-border-0{border:0!important}.nd-border{border:1px solid #ccc!important}
.nd-border-top{border-top:1px solid #ccc!important}.nd-border-bottom{border-bottom:1px solid #ccc!important}
.nd-border-left{border-left:1px solid #ccc!important}.nd-border-right{border-right:1px solid #ccc!important}
.nd-topbar{border-top:6px solid #ccc!important}.nd-bottombar{border-bottom:6px solid #ccc!important}
.nd-leftbar{border-left:6px solid #ccc!important}.nd-rightbar{border-right:6px solid #ccc!important}




.nd-section,.nd-code{margin-top:16px!important;margin-bottom:16px!important}


/*          margin   */

.nd-margin{margin:16px!important}.nd-margin-top{margin-top:16px!important}.nd-margin-bottom{margin-bottom:16px!important}
.nd-margin-left{margin-left:16px!important}.nd-margin-right{margin-right:16px!important}


/*          padding    */

.nd-padding-small{padding:4px 8px!important}.nd-padding{padding:8px 16px!important}.nd-padding-large{padding:12px 24px!important}
.nd-padding-16{padding-top:16px!important;padding-bottom:16px!important}.nd-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.nd-padding-32{padding-top:32px!important;padding-bottom:32px!important}.nd-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.nd-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.nd-padding-top-64{padding-top:64px!important}.nd-padding-top-48{padding-top:48px!important}
.nd-padding-top-32{padding-top:32px!important}.nd-padding-top-24{padding-top:24px!important}



/*          float    */
.nd-left{float:left!important}.nd-right{float:right!important}
.nd-button:hover{color:#000!important;background-color:#ccc!important}
.nd-transparent,.nd-hover-none:hover{background-color:transparent!important}
.nd-hover-none:hover{box-shadow:none!important}
























/* Colors */



/*          Background-Color ,Text-Color  and Hover-Colors*/


.nd-amber,.nd-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.nd-aqua,.nd-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.nd-blue,.nd-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.nd-light-blue,.nd-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.nd-brown,.nd-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.nd-cyan,.nd-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.nd-blue-grey,.nd-hover-blue-grey:hover,.nd-blue-gray,.nd-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.nd-green,.nd-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.nd-light-green,.nd-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.nd-indigo,.nd-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.nd-khaki,.nd-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.nd-lime,.nd-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.nd-orange,.nd-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.nd-deep-orange,.nd-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.nd-pink,.nd-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.nd-purple,.nd-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.nd-deep-purple,.nd-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.nd-red,.nd-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.nd-sand,.nd-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.nd-teal,.nd-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.nd-yellow,.nd-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.nd-white,.nd-hover-white:hover{color:#000!important;background-color:#fff!important}
.nd-black,.nd-hover-black:hover{color:#fff!important;background-color:#000!important}
.nd-grey,.nd-hover-grey:hover,.nd-gray,.nd-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.nd-light-grey,.nd-hover-light-grey:hover,.nd-light-gray,.nd-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.nd-dark-grey,.nd-hover-dark-grey:hover,.nd-dark-gray,.nd-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.nd-pale-red,.nd-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.nd-pale-green,.nd-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.nd-pale-yellow,.nd-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.nd-pale-blue,.nd-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}



/*          Text-Colors and Hover-Colors      */


.nd-text-amber,.nd-hover-text-amber:hover{color:#ffc107!important}
.nd-text-aqua,.nd-hover-text-aqua:hover{color:#00ffff!important}
.nd-text-blue,.nd-hover-text-blue:hover{color:#2196F3!important}
.nd-text-light-blue,.nd-hover-text-light-blue:hover{color:#87CEEB!important}
.nd-text-brown,.nd-hover-text-brown:hover{color:#795548!important}
.nd-text-cyan,.nd-hover-text-cyan:hover{color:#00bcd4!important}
.nd-text-blue-grey,.nd-hover-text-blue-grey:hover,.nd-text-blue-gray,.nd-hover-text-blue-gray:hover{color:#607d8b!important}
.nd-text-green,.nd-hover-text-green:hover{color:#4CAF50!important}
.nd-text-light-green,.nd-hover-text-light-green:hover{color:#8bc34a!important}
.nd-text-indigo,.nd-hover-text-indigo:hover{color:#3f51b5!important}
.nd-text-khaki,.nd-hover-text-khaki:hover{color:#b4aa50!important}
.nd-text-lime,.nd-hover-text-lime:hover{color:#cddc39!important}
.nd-text-orange,.nd-hover-text-orange:hover{color:#ff9800!important}
.nd-text-deep-orange,.nd-hover-text-deep-orange:hover{color:#ff5722!important}
.nd-text-pink,.nd-hover-text-pink:hover{color:#e91e63!important}
.nd-text-purple,.nd-hover-text-purple:hover{color:#9c27b0!important}
.nd-text-deep-purple,.nd-hover-text-deep-purple:hover{color:#673ab7!important}
.nd-text-red,.nd-hover-text-red:hover{color:#f44336!important}
.nd-text-sand,.nd-hover-text-sand:hover{color:#fdf5e6!important}
.nd-text-teal,.nd-hover-text-teal:hover{color:#009688!important}
.nd-text-yellow,.nd-hover-text-yellow:hover{color:#d2be0e!important}
.nd-text-white,.nd-hover-text-white:hover{color:#fff!important}
.nd-text-black,.nd-hover-text-black:hover{color:#000!important}
.nd-text-grey,.nd-hover-text-grey:hover,.nd-text-gray,.nd-hover-text-gray:hover{color:#757575!important}
.nd-text-light-grey,.nd-hover-text-light-grey:hover,.nd-text-light-gray,.nd-hover-text-light-gray:hover{color:#f1f1f1!important}
.nd-text-dark-grey,.nd-hover-text-dark-grey:hover,.nd-text-dark-gray,.nd-hover-text-dark-gray:hover{color:#3a3a3a!important}



/*          Border-Colors and Hover-Colors    */



.nd-border-amber,.nd-hover-border-amber:hover{border-color:#ffc107!important}
.nd-border-aqua,.nd-hover-border-aqua:hover{border-color:#00ffff!important}
.nd-border-blue,.nd-hover-border-blue:hover{border-color:#2196F3!important}
.nd-border-light-blue,.nd-hover-border-light-blue:hover{border-color:#87CEEB!important}
.nd-border-brown,.nd-hover-border-brown:hover{border-color:#795548!important}
.nd-border-cyan,.nd-hover-border-cyan:hover{border-color:#00bcd4!important}
.nd-border-blue-grey,.nd-hover-border-blue-grey:hover,.nd-border-blue-gray,.nd-hover-border-blue-gray:hover{border-color:#607d8b!important}
.nd-border-green,.nd-hover-border-green:hover{border-color:#4CAF50!important}
.nd-border-light-green,.nd-hover-border-light-green:hover{border-color:#8bc34a!important}
.nd-border-indigo,.nd-hover-border-indigo:hover{border-color:#3f51b5!important}
.nd-border-khaki,.nd-hover-border-khaki:hover{border-color:#f0e68c!important}
.nd-border-lime,.nd-hover-border-lime:hover{border-color:#cddc39!important}
.nd-border-orange,.nd-hover-border-orange:hover{border-color:#ff9800!important}
.nd-border-deep-orange,.nd-hover-border-deep-orange:hover{border-color:#ff5722!important}
.nd-border-pink,.nd-hover-border-pink:hover{border-color:#e91e63!important}
.nd-border-purple,.nd-hover-border-purple:hover{border-color:#9c27b0!important}
.nd-border-deep-purple,.nd-hover-border-deep-purple:hover{border-color:#673ab7!important}
.nd-border-red,.nd-hover-border-red:hover{border-color:#f44336!important}
.nd-border-sand,.nd-hover-border-sand:hover{border-color:#fdf5e6!important}
.nd-border-teal,.nd-hover-border-teal:hover{border-color:#009688!important}
.nd-border-yellow,.nd-hover-border-yellow:hover{border-color:#ffeb3b!important}
.nd-border-white,.nd-hover-border-white:hover{border-color:#fff!important}
.nd-border-black,.nd-hover-border-black:hover{border-color:#000!important}
.nd-border-grey,.nd-hover-border-grey:hover,.nd-border-gray,.nd-hover-border-gray:hover{border-color:#9e9e9e!important}
.nd-border-light-grey,.nd-hover-border-light-grey:hover,.nd-border-light-gray,.nd-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.nd-border-dark-grey,.nd-hover-border-dark-grey:hover,.nd-border-dark-gray,.nd-hover-border-dark-gray:hover{border-color:#616161!important}
.nd-border-pale-red,.nd-hover-border-pale-red:hover{border-color:#ffe7e7!important}.nd-border-pale-green,.nd-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.nd-border-pale-yellow,.nd-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.nd-border-pale-blue,.nd-hover-border-pale-blue:hover{border-color:#e7ffff!important}






   /*          Fonts, image, table and button    */

/* End extract */

                            
/*          Fonts and horizontal rule (hr)    */


html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.nd-serif{font-family:serif}.nd-sans-serif{font-family:sans-serif}.nd-cursive{font-family:cursive}.nd-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.nd-wide {letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}


/*          image    */


.nd-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}



/*          table    */


.nd-table,.nd-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.nd-table-all{border:1px solid #ccc}
.nd-bordered tr,.nd-table-all tr{border-bottom:1px solid #ddd}.nd-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.nd-table-all tr:nth-child(odd){background-color:#fff}.nd-table-all tr:nth-child(even){background-color:#f1f1f1}

.nd-hoverable tbody tr:hover,.nd-ul.nd-hoverable li:hover{background-color:#ccc}.nd-centered tr th,
.nd-centered tr td{text-align:center}


.nd-table td,.nd-table th,.nd-table-all td,.nd-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.nd-table th:first-child,.nd-table td:first-child,.nd-table-all th:first-child,.nd-table-all td:first-child{padding-left:16px}



/*          button    */


.nd-btn,.nd-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;
text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}


.nd-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.nd-btn,.nd-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.nd-btn-disabled,.nd-btn:disabled,.nd-button:disabled{cursor:not-allowed;opacity:0.3}.nd-btn-disabled *,:disabled *{pointer-events:none}
.nd-btn.nd-disabled:hover,.nd-btn:disabled:hover{box-shadow:none}






/*          badge, tag, tooltip, ripple,input,select,dropdown,check,radio,sidebar,main,modal,   */





/*          badge    */



.nd-badge,.nd-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.nd-badge{border-radius:50%}


/*          ul    */
.nd-ul{list-style-type:none;padding:0;margin:0}.nd-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.nd-ul li:last-child{border-bottom:none}


/*          tooltip    */
.nd-tooltip,.nd-display-container{position:relative}.nd-tooltip .nd-text{display:none}.nd-tooltip:hover .nd-text{display:inline-block}


/*          ripple effect    */
.nd-ripple:active{opacity:0.5}.nd-ripple{transition:opacity 0s}

/*          input    */
.nd-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}


/*          select    */
.nd-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}

/*          dropdown    */
.nd-dropdown-click,.nd-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.nd-dropdown-hover:hover .nd-dropdown-content{display:block}
.nd-dropdown-hover:first-child,.nd-dropdown-click:hover{background-color:#ccc;color:#000}
.nd-dropdown-hover:hover > .nd-button:first-child,.nd-dropdown-click:hover > .nd-button:first-child{background-color:#ccc;color:#000}
.nd-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}


/*          check and radio    */
.nd-check,.nd-radio{width:24px;height:24px;position:relative;top:6px}


/*          sidebar    */
.nd-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}


/*          navigation bar display = block    */
.nd-bar-block .nd-dropdown-hover,.nd-bar-block .nd-dropdown-click{width:100%}
.nd-bar-block .nd-dropdown-hover .nd-dropdown-content,.nd-bar-block .nd-dropdown-click .nd-dropdown-content{min-width:100%}
.nd-bar-block .nd-dropdown-hover .nd-button,.nd-bar-block .nd-dropdown-click .nd-button{width:100%;text-align:left;padding:8px 16px}









